<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ranaaditya.bazel_build"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="30" />

    <application
        android:label="Bazel build android">
        <activity
            android:name=".MainActivity"
            android:label="Bazel build" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>